name: Build and Push

on:
  push:
    branches:
      - 'main'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: extractions/setup-just@v3
      - uses: actions/checkout@v4

      - run: |
          just dep patch
          echo "TAG=$(cat ./version | tr -d '[:space:]')" >> $GITHUB_ENV

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container
          driver-opts: network=host

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}
          tags: |
            type=raw,value=${{ env.TAG }}

      - name: Build & Publish
        uses: docker/build-push-action@v6
        with:
          context: ./dynamic-localpv-provisioner
          file: ./dynamic-localpv-provisioner/buildscripts/provisioner-localpv/provisioner-localpv.Dockerfile
          push: true
          load: false
          platforms: linux/amd64,linux/arm64
          build-args: |
            DBUILD_REPO_URL=https://github.com/${{ github.repository }}
          tags: |
            ${{ steps.docker_meta.outputs.tags }}

